font-family: 'Baloo 2', cursive;
font-family: 'DynaPuff', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Rancho', cursive;
